@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: #3a3838;
  width: 100%;
  position: fixed;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(199, 103, 68);
  font-weight: 700;
  font-size: 1.8em;
}
.navbar a {
  color: rgb(199, 103, 68);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.navbar a:hover {
  color: rgb(172, 60, 20);
}
section{
  padding: 100px;
}
.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f1e9e9;
}
.mainContent{
  width: 60%;
}
.position{
  display: inline-block;
  color: rgb(199, 103, 68);
  font-weight: 700;
  font-size: 60px;
  margin: 10px 0 10px 0;
}
.mainButton{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(199, 103, 68);
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(199, 103, 68);
  transition: .7s ease;
  letter-spacing: 1px;
}
.mainButton:hover{
  transform: scale(1.1);
  opacity: .9;
}
.socialIcons{
  width: 19%;
  display: flex;
  justify-content: space-between;
  
}
.socialIcons a{
  color: rgb(199, 103, 68);
  font-size: 1.5em;
}

.cards {
  width: 100%;
  min-height: 90vh;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  color: rgb(199, 103, 68);
  margin-bottom: 30px;
}
.cardsContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.card{
  width: 32%;
  text-align: center;
  padding: 2%;
  border: 2px solid rgb(54, 53, 53);
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(1 1 1/20%);
  transition: 0.7s ease;
}
.card:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 4rem;
  color: rgb(199, 103, 68);
}
.info {
  margin: 10px 0px;
}
.info h2{
  color: rgb(199, 103, 68);
}
@media only screen and (max-width: 768px) {
  .cardsContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  .card {
    width: 46%;
    margin: 2%
  }
}
@media only screen and (max-width: 500px) {
  .cardsContent {
    width: 100%;
    display: flex;
    margin-bottom: 5%;
  }
  .card {
    width: 100%;
  } 
}



/* card one more */
 .projects{
  background-color: #f1e9e9;
}
.projects .content{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectCard{
  background-color: #fff;
  border: 1px solid black;
  min-height: 14em;
  border-radius: 15px;
  width: 30%;
  overflow: hidden;
  transition: .7s ease;
  margin-bottom: 2%;
  
}
.projectCard:hover{
  transform: scale(1.1);
}

.projectImg img{
  width: 100%;
}
.projectImg:hover{
  opacity: .95;
}
.projectInfo{
  padding: 2% 3% 2% 3%;
}
.projectCategory{
  color: #000;
}
.projectTitle{
  display: inline-block;
  display: flex;
  justify-content: space-between;
  margin: 5% 0% 0% 0%;
  text-transform: uppercase;
}
.moreDetails{
  text-decoration: none;
  color: rgb(199, 103, 68);
} 
.moreDetails:hover{
  color: rgb(14, 6, 3);

} 

.linkedIn a{
  display: block;
  text-decoration: none;
  color: black;
}

.footer{
  background-color: #3a3838;
  
}
.wrapper{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 20px;
  color: rgb(199, 103, 68);
}
.footerCopyright{
  font-weight: 700;
}
.socialIcons2{
    width: 10%;
  display: flex;
  justify-content: space-between;
  
}
.socialIcons2 a{
  color: rgb(199, 103, 68);
}